<div class="container">
  <section id="sec00">
    <p class="top_subtitle">今朝の占い結果をまとめてチェック！</p>
    <p class="top_title">Fortune Checker</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </section>
</div>
