<div class="pp1_background">
  <div class="pp1">
    <div class="page-header"><h1>プライバシーポリシー<br><small>広告配信等に係るCookieの使用ついて</small></h1></div>
  </div>
</div>
<div class="pp2_background">
  <div class="pp2">
    <div class="page-header"><h2>広告配信</h2></div>
    <p>当サイトでは、GoogleAdsense等の第三者配信事業者が提供する広告を設置しており、
      また、その広告配信の一部にはCookieを使用しています。</p>
    <p>この際、GoogleやGoogleのパートナーは、サイト閲覧者の方の、
      当サイトまたはその他のサイトへの過去のアクセス情報に基づき、
      <a href="https://support.google.com/searchads/answer/2839090?hl=ja&ref_topic=2473095">DoubleClick Cookie</a>
      を使用することによって、適切な広告を配信しています。</p>
    <p>お客様は<a href="https://adssettings.google.com/u/0/authenticated?hl=ja">Googleアカウントの広告設定ページ</a>
      で、インタレストベースでの広告掲載に使用されるDoubleClick Cookieを無効にできます。
      また、「aboutads.info」のページにアクセスして頂き、インタレストベースでの広告掲載に使用される
      第三者配信事業者のCookieを無効にできます。</p>
    <p>その他、Googleの広告配信におけるCookieの取り扱いの詳細につきましては、
      <a href="https://policies.google.com/technologies/ads?hl=ja">Googleのポリシーと規約ページ</a>
      をご覧ください。</p>

    <div class="page-header"><h2>アクセス分析について</h2></div>
    <p>当サイトでは、Googleが提供するアクセス解析ツール「Googleアナリティクス」を使用しています。
      このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用していますが、
      そのトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
    <p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、
      お使いのブラウザの設定をご確認ください。
      この規約に関しての詳細は<a href="https://www.google.com/analytics/terms/jp.html">Googleアナリティクスサービス利用規約のページ</a>
      をご覧ください。</p>

    <div class="page-header"><h2>免責事項</h2></div>
    <p>本サイトのコンテンツにおいて、可能な限り正確な情報を発信するよう
      努めてまいりますが、誤った情報が含まれていたり、古い情報が含まれている場合もございます。</p>
    <p>本サイトに掲載された内容によって生じた一切の責任を負いかねますので、ご了承ください。</p>

    <div class="page-header"><h2>お問い合わせ</h2></div>
    <p>ご質問、お問い合わせ等ございましたら、管理者のTwitterダイレクトメールよりご連絡下さいますようお願いいたします。</p>
    <br>
    <a href="https://twitter.com/messages/compose?recipient_id=1037762441365442562&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-size="large" data-text="お問い合わせはこちらよりお願いします。" data-lang="ja" data-screen-name="@supunic_sup" data-show-count="false">Message @@supunic_sup</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
